body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-image: url("/photo/CU.jpg");
    background-repeat: no-repeat;
    background-size: 150%;
    margin: 0;
    padding: 0;
    background-color: rgb(8, 8, 37);
}

table {
    border: 0px;
    font-family: "Noto Serif", serif;
    background-color: rgba(0, 0, 0, .5);
    color: rgba(0, 0, 0, .5);
    ;
    text-align: center !important;
    width: 50%;
    font-size: 16px;
    margin: 100;
    padding: 100;
}

table thead {
    padding: 10px;
    background-color: rgba(0, 0, 0, .5);
    color: white;
}

table td {
    padding: 15px;
    background-color: rgba(0, 0, 0, .5);
    color: white;
}

th,
td {
    border-bottom: 1px solid #ddd;
}

tr{
    background-color: burlywood;
}

tr:nth-last-col {
    background-color: white;
}

button {
    margin: 5px 5px;
    border: none;
    outline: none;
    width: 100px;
    height: 30px;
    color: #fff;
    font-size: 16px;
    background: #ffc107e0;
}